.front-hero {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    background: white;
    display: grid;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    .herorow {
        height: 100vh;
        .front-content{
            text-align: center;
            img {
                height: 170px;
            }
            h1 {
                color: #f36f21;
                font-size: 45px;
            }
        }
    }
}

  