.hero {
  .hero-row {
    height: 20vh;
    .title {

      h1 {
        font-size: 65px;
        line-height: 1.2;
        color: #333333;
        margin: 0;
        @media (max-width: 1600px) {
          font-size: 50px;
        }
        @media (max-width: 991px) {
          font-size: 40px;
        }
        @media (max-width: 575px) {
          font-size: 30px;
        }
      }
    }
    .subtitle {
      p {
        margin: 0;
        font-size: 20px;
        color: #707070;
      }
    }
  }
}

.home {
  .quickscan-form {
    position: relative;

    .form {
      position: relative;
      .gf_progressbar {
        padding: 0;
        .gf_progressbar_percentage {
          background: none;
          background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #ff7135);
          background-size: 300% 100%;
          span {
            display: block !important;
            position: relative;
            top: -24px;
            color: #333333;
            text-shadow: none;
          }
        }
      }
      .gform_wrapper {
        margin: 0;

        .gform_title {
          display: none;
        }

        .gfield_label {
          font-size: 20px;
          font-weight: 500;
          color: #333;
        }
        .gfield_required {
          display: none;
        }


        .ginput_container_radio {
          input {
            width: auto;
          }
          label {
            font-size: 18px;
            font-weight: 500;
            color: #333;
          }
          input[type=radio] {
            display: none;
          }

          input[type=radio] label {
            position: relative;
            cursor: pointer;
          }

          input[type=radio] + label:before {
            content: '';
            display:inline-block;
            width: 10px;
            height: 10px;
            margin: 0 8px 0 8px;
            vertical-align:middle;
            cursor:pointer;
            border-radius:  50%;
            background-color: #eee;
            position: relative;
            top: -2px;
          }

          input[type=radio]:checked + label {
            position: relative;

            &:after {
              content: "";
              position: absolute;
              top: -2px;
              left: 4px;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              display: inline-block;
              cursor:pointer;
            }

            &:before {
              background-color: #F6931E;
            }
          }
        }
        .input-text {
          width: 100% !important;
        }
        .gform_drop_area {
          .button {
            padding: 10px 30px !important;
          }
        }
        .ginput_container_select {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            right: 20px;
            bottom: 20px;
            border-bottom: 2px solid #F6931E;
            border-right: 2px solid #F6931E;
            width: 15px;
            height: 15px;
            transform: rotate(45deg);
            z-index: -1;
          }
          select {
            width: 100%;
            padding: 35px 0 15px 8px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #F6931E;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
          }
        }
        input {
          width: 100% !important;
          border: none;
          border-bottom: 2px solid #F6931E;
          padding: 20px 0 10px 8px !important;
          font-size: 24px !important;
          font-weight: 600;
          color: #333;
          outline: none;
          background: transparent;
          @media (max-width: 768px) {
            padding: 15px 0 5px 8px !important;
            font-size: 20px !important;
          }

          &::placeholder {
            font-size: 24px;
            font-weight: 500;
            color: #333;
          }

          &[type="button"], &[type="submit"] {
            width: auto !important;
            padding: 20px 50px !important;
            border: none;
            margin-top: 20px;
            color: #fff;
            background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #ff7135);
            box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.5);
            background-size: 300% 100%;
            font-size: 20px !important;
            border-radius: 50px;
            border-bottom: none !important;
            line-height: normal !important;
            min-height: unset !important;
            transition: all .2s ease-in-out;
            &:hover {
              background-position: 100%;
            }
            @media (max-width: 768px) {
              padding: 15px 30px !important;
              font-size: 18px !important;
            }
          }
          &[value="Vorige"] {
            background: transparent;
            color: #7a7c7f;
            font-size: 20px !important;
            box-shadow: none;
          }
        }

        .gform_page_footer {
          margin: 20px 0 0 0;
          border: none;
        }

        .validation_error {
          display: none;
        }

        .gfield_error {
          background-color: transparent !important;
          margin-bottom: 0 !important;
          border: none !important;
          padding: 0;

          input {
            border-bottom: 2px solid #df081d !important;
          }
        }

        .gfield {
          position: relative;
          margin-top: 25px;
        }

        .gfield_description {
          padding: 0;
          position: absolute;
          top: 0;
        }
      }
    }
  }
}
