header {
  width: 100%;
  background: #f1f1f1;
  position: fixed;
  padding: 15px;
  z-index: 100;
  .hamburger-wrapper {
    display: none;
    @media only screen and (max-width: $mobilebreakpoint) {
      display: block;
    }
  }
  #primary-menu {
    @media only screen and (max-width: $mobilebreakpoint) {
      display: none;
    }
  }
}