h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

span {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

label {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

input {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}